<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

    </style>
  </head>
  <body>
    <div id="modal" style="display: none">
      <div id="modal-content">
        <span id="modal-close">&times;</span>
        <p id="modal-message"></p>
      </div>
    </div>
    <div class="login-container">
      <h2>Login</h2>
      <form id="login-form">
        <input type="username" id="username" placeholder="Username" required />
        <input type="password" id="password" placeholder="Password" required />
        <div class="button-container">
          <button type="submit">Log In</button>
          <button type="button" id="register-button">Register</button>
        </div>
      </form>
    </div>

    <script>
      function showMessage(message) {
        document.getElementById("modal-message").textContent = message;
        document.getElementById("modal").style.display = "block";
      }

      document.getElementById("modal-close").onclick = function () {
        document.getElementById("modal").style.display = "none";
      };

      document
        .getElementById("login-form")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the form from being submitted normally

          var username = document.getElementById("username").value;
          var password = document.getElementById("password").value;

          // Log in the user
          fetch("/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ username: username, password: password }),
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              localStorage.setItem('username', username);
              showMessage(data.message);     
              window.location.href = '/game';         
            })
            .catch((error) => {
              console.error("Error:", error);
              showMessage("An error occurred");
            });
        });

      document
        .getElementById("register-button")
        .addEventListener("click", function () {
          var username = document.getElementById("username").value;
          var password = document.getElementById("password").value;

          // Register the user
          fetch("/register", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ username: username, password: password }),
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              localStorage.setItem('username', username);
              showMessage(data.message);
              window.location.href = '/game';         
            })
            .catch((error) => {
              console.error("Error:", error);
              showMessage("An error occurred");
            });
        });
    </script>
  </body>
</html>
